 <launch>
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(find blackdrops)/video.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="$(find blackdrops)/video">
    <remap from="image" to="/device_0/sensor_1/Color_0/image/data"/>
  </node>
</launch>
